<html ng-app="myApp">

<head>  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	<link href="/app.css?version=[[.Version]]" rel="stylesheet">
	<title>Google Vision API Demo</title>
</head>

<body ng-controller="MyController" class="center">

<div class="container">

	<div class="row" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h1>Google Vision API Demo</h1>										
		</div>
	</div> <!-- row -->

	<div class="row" ng-show="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 >Please wait for the image to upload...</h2>
		</div>
	</div> <!-- row -->

	<div class="row" ng-hide="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="textAnnotations.length>0">
			<h2>Text</h2>						
			<ul class="list-group">
				<li class="list-group-item">
					{{textAnnotations}}
				</li>
			</ul>
		</div>
	</div> <!-- row -->

	<div class="row" ng-hide="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 ng-show="labelAnnotations.length>0">Labels</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="label in labelAnnotations">
					{{label.description}} ({{label.score_p}}%)
				</li>
			</ul>
		</div>
	</div> <!-- row -->

	<div class="row" ng-hide="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 ng-show="landmarkAnnotations.length>0">Landmarks</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="landmark in landmarkAnnotations">
				{{landmark.description}} ({{landmark.score_p}}%)
				</li>
			</ul>
		</div>
	</div> <!-- row -->

	<div class="row" ng-hide="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 ng-show="logoAnnotations.length>0">Logo</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="logo in logoAnnotations">
				{{logo.description}} ({{logo.score_p}}%)
				</li>
			</ul>
		</div>
	</div> <!-- row -->

	<div class="row" ng-hide="isUploading" ng-cloak>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form name="upload" class="form center" data-ng-submit="addFile()" ng-hide="isUploading">
				<span class="btn btn-success btn-file btn-lg" for="select_files">
					Select <span ng-hide="isFirstTime">New</span> Picture <input type="file" name="select_files" accept="image/*"
						onchange="angular.element(this).scope().uploadedFile(this)" />
				</span>		 		
			</form>
		</div>
	</div> <!-- row -->

</div> <!-- container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="/app.js?version=[[.Version]]"></script>
</body>
</html>